<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.creativetrends.tungsten"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="16"
        android:targetSdkVersion="23" />
    
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    
    
    <application 
        android:label="@string/app_name" 
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false" >
        <activity 
            android:name="com.creativetrends.tungsten.activities.TungstenBackup"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.activities.BatchActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.creativetrends.tungsten.activities.TungstenBackup" >
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.activities.Preferences"
            android:label="@string/prefs_title"
            android:parentActivityName="com.creativetrends.tungsten.activities.TungstenBackup" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativetrends.tungsten.activities.TungstenBackup" />
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.schedules.Scheduler"
            android:label="@string/sched_title"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.creativetrends.tungsten.activities.TungstenBackup" >
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.ui.Help"
            android:label="@string/help_title"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.creativetrends.tungsten.activities.TungstenBackup" >
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.activities.Tools"
            android:label="@string/tools_title"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.creativetrends.tungsten.activities.TungstenBackup" >
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.ui.FileBrowser"
            android:label="@string/filebrowser_title"
            android:parentActivityName="com.creativetrends.tungsten.activities.Preferences" >
        </activity>
        
        <activity 
            android:name="com.creativetrends.tungsten.activities.LogViewer"
            android:label="logviewer"
            android:parentActivityName="com.creativetrends.tungsten.activities.Tools" >
        </activity>
        
        <receiver android:name="com.creativetrends.schedules.AlarmReceiver" />
        <receiver android:name="com.creativetrends.schedules.BootReceiver">
            <intent-filter>              
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
